html {
  box-sizing: border-box;
  font-size: 16px;
}

@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.45rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.15rem;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: #ddd;
}

presentation-manager {
  width: 100vw;
  height: 100vh;
  background-image: url('media/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
}

presentation-footer {
  height: 3em;
  display: flex;
  flex-direction: column;
}

presentation-slides {
  flex: 1;
}

section {
  display: none;
  background-color: #0007;
  height: 100%;
  padding: 2em;
}

section.visible {
  display: block;
}

.small-caps {
  font-variant: small-caps;
}
